<!DOCTYPE html>
<html>
  <head>
    <title>AMDB</title>
  </head>
  <body>
    
    <!-- Navigation bar -->
    <div class="container">
      <div class="logo">
        <img style="height: 100px; width: 100px;" src="../assets/img/imdb-icon-png-15.jpg" alt="Imdb logo">
        <h1>AMDB<sub>Moviegasm</sub></h1>
      </div><!--LOGO ends here-->
      <div class="navbar">

      </div><!--NAVbar ends here-->
    </div><!--Container ends here-->
    <!-- Search Bar -->
    <!-- <form action="" class="myForm">
      <input #myInput type="text" placeholder="search for movies">
      <button type="submit" id="myInput">GO!</button>
    </form> -->
    <!-- Top rated movies list -->
    <app-user-details></app-user-details>
  </body>
</html>



